<div class="columns">
  <div class="column is-half-tablet">
    <h1 class="title">A small opening from the door slides open.</h1>
    <p class="content fade-in-up">
      Piercing eyes peek through the window and a grouchy voice shrieks out.
    </p>
    <p class="content fade-in-up">
      "Who are you and what is the password?"
    </p>
  </div>
  <div class="column">
    <%= render partial: '/sessions/form' %>
  </div>
</div>
