version: '3.2'

volumes:
  postgres-data:

services:
  db:
    image: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data

  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - .:/dungeonbuddies
      - type: tmpfs
        target: /dungeonbuddies/tmp/pids/
    ports:
      - '3000:3000'
      - '3035:3035' # Webpacker Port
    depends_on:
      - db
